<div>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> verhinderte(n), dass der Benutzer gespeichert werden konnte:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <fieldset>
    <legend>Benutzer Details:</legend>
    <%= form_with model: @user do |form| %>
    <table class="reservation-detail">
      <tr>
        <td class="legend">Name:</td>
        <td class="data"><%= form.text_field :name, size: 40 %></td>
      </tr>
      <tr>
        <td class="legend">Rolle:</td>
        <td class="data"><%= form.select(:role, User::ASSIGNABLE_ROLE_LABELS.map { |key, label| [ label, key ] }) %></td>
      </tr>
      <tr>
        <td class="legend">eMail:</td>
        <td class="data"><%= form.text_field :email, size: 40 %></td>
      </tr>
      <tr>
        <td class="legend">Natel:</td>
        <td class="data"><%= form.text_field :telefon, size: 40 %></td>
      </tr>
      <tr>
        <td class="legend">Initial-Passwort:</td>
        <td class="data"><%= form.text_field :password, size: 40 %></td>
      </tr>
    </table>
    <%= submit_tag "Benutzer hinzufügen", class: "submit" %>
    <% end %>
  </fieldset>
</div>
