<% if day[:reservations].count.equal? 0 %>
	<td class="free <%= day[:in_month] ? 'active' : 'inactive' %> <%= day[:date]===Date.today ? 'today' : '' %>" data-js-enter-reservation-href="<%= url_for controller:'reservations', action:'new', date:day[:date] %>"><%= day[:date].day %></td>
<% else %>
	<td class="occupied <%= day[:in_month] ? 'active' : 'inactive' %> <%= day[:date]===Date.today ? 'today' : '' %>" data-js-enter-reservation-href="<%= url_for controller:'reservations', action:'on_day', date:day[:date] %>';">
		<%= day[:date].day %>
		<% for reservation in day[:reservations] %>
			<p class="<%= reservation.is_exclusive ? 'closed' : 'open' %>"><%= reservation.user.name %></p>
		<% end %>	
	</td>
<% end %>
