<div class="reservationform">
  <%= form_with(model: reservation, data: { turbo_frame: "_top" }) do |form| %>
    <% if reservation.errors.any? %>
      <div class="page-row" id="error_explanation">
        <h2><%= pluralize(reservation.errors.count, "error") %> verhinderte, dass die Reservation gesichert werden konnte:</h2>
        <ul>
          <% reservation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="page-row field">
      <label class="legend" for="reservation_user_id">Wer:</label>
      <%= form.select :user_id, @users %>
    </div>

    <div class="page-row datebox">
      <div class="field">
        <label class="legend" for="reservation_start">Von:</label>
        <%= form.datetime_local_field :start %>
      </div>
      <div class="field">
        <label class="legend" for="reservation_finish">Bis:</label>
        <%= form.datetime_local_field :finish %>
      </div>
    </div>

    <div class="page-row">
      <label class="legend">Reservations-Typ:</label>
      <div class="type-row">
        <%= form.select :type_of_reservation, Reservation.reservation_types, prompt: "Type", selected: form.object.classified_type %>
        <%= form.select :is_exclusive, [ [ "Exklusiv", true ], [ "Offen", false ] ] %>
      </div>
    </div>

    <div class="page-row">
      <label class="legend" for="reservation_comment">Kommentar:</label>
      <%= form.text_area :comment, rows: 3 %>
    </div>

    <div class="page-row reservationform__submit">
      <%= submit_tag "Speichern", class: "submit" %>
      <%= link_to "Abbrechen", { controller: "reservations", action: "index" }, class: "cancel", data: { turbo_frame: "_top" } %>
    </div>
  <% end %>

  <% unless reservation.id.nil? %>
    <div class="reservationform__actions">
      <%= button_to "Reservation löschen", reservation, method: :delete, form: { data: { turbo_frame: "_top", turbo_confirm: "Are you sure?" } } %>
    </div>
  <% end %>
</div>
