<h1>Brüschhüsli-Reservationen im <%= @listed_month.strftime_german("%B %Y")%></h1>
<div>
	<div  style="background-color:blue;">
		<div class="col-6 ">&gt;<%= link_to_month @listed_month.last_month %></div>
		<div class="col-6 ">&gt;<%= link_to_month @listed_month.next_month %></div>
	</div>
	<table id="calendar-table"  onclick="document.getElementById('calendarDetailsBox').style.display='none';document.getElementById('calendarNewReservationBox').style.display='none';">
		<tr>
			<th>Mo</th>
			<th>Di</th>
			<th>Mi</th>
			<th>Do</th>
			<th>Fr</th>
			<th>Sa</th>
			<th>So</th>
		</tr>
		<tr class="week">
		<% for day in @days -%>
			<td class="calendar-day <%= day_in_month(day[:datum]) %>"   <%= ajax_link_to_new_reservation(day[:datum])  %> >
				<div class="header">
					<%= link_to day[:datum].day, :action => "new", :date => day[:datum] %>
				</div>
				<% for reservation in day[:reservations] %>
					<%= help_div_with_class_and_link_to_reservation  "", reservation, day[:datum] %>
				<% end %>
			</td>
			<% if day[:datum].wday==0 -%>
			</tr>
			<tr>
			<%end-%>
		<%end%>
		</tr>
	</table>
</div>
<div id="calendarDetailsBox" style="display:none;"></div>
<div id="calendarNewReservationBox" style="display:none"></div>