    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> verhinderte(n), dass das Passwort geändert werden konnte:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <fieldset>
    <legend>Passwort von Benutzer '<%= @user.name %>' ändern:</legend>
    <%= form_with scope: :user, url: password_path, method: :patch do |form| %>
    <table class="reservation-detail">
      <tr>
        <td class="legend">Altes Passwort:</td>
        <td class="data"><%= password_field_tag :old_password, nil, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <td class="legend">Neues Passwort:</td>
        <td class="data"><%= form.password_field :password, size: 40, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <td class="legend">Bestätigen:</td>
        <td class="data"><%= form.password_field :password_confirmation, size: 40, autocomplete: "new-password" %></td>
      </tr>
    </table>
    <%= submit_tag "Speichern", class: "submit" %>
    <% end %>
  </fieldset>
