    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
	
	
	<fieldset>
		<legend>Passwort von Benutzer '<%= @user.name %>' ändern:</legend>
		<%= form_for :user do |form |%>
		<table class="reservation-detail">
			<tr>
				<td class="legend">Altes Passwort:</td>
				<td class="data"><%= password_field_tag :old_password %></td>
			</tr>
			<tr>
				<td class="legend">Neues Passwort:</td>
				<td class="data"><%= form.password_field :password, :size=>40 %></td>
			</tr>
			<tr>
				<td class="legend">Bestätigen:</td>
				<td class="data"><%= form.password_field :password_confirmation, :size => 40%></td>
			</tr>
		</table>
		<%= submit_tag "Speichern", :class => "submit" %>
		<%end%>
	</fieldset>
