<h1>Benutzer</h1>
<ul>
	<% for user in @all_users %>
		<li>
			<%= h(user.name)%> 	(<%= mail_to user.email %>, <%= user.telefon %>)
			<small><i>
			<%= link_to "[Bearbeiten]", {:controller => "login", :action => "edit_user", :id => user } %>
			<%= link_to "[Löschen]", {:controller => "login", :action => "delete_user", :id => user }, {:method => :post, :confirm => "#{user.name} wirklich löschen?"} %>
			<%= link_to "[Reservationen]", :controller => "abrechnung", :action => "benutzer", :id => user %>
			</small></i>
		</li>
	<%end%>
</ul>
<%= link_to "Benutzer hinzufügen", :action => "add_user" %><br />
<%= link_to "Mein Passwort ändern", :action => "change_password" %>