<h1>Br체schh체sli-Nutzungen <%= @listed_year.year %></h1>
<p>Reservationen in der Abrechnungsperiode <%= @listed_year.beginning_of_year.strftime("%d.%m.%Y") %> - <%= @listed_year.end_of_year.strftime("%d.%m.%Y") %></p>
<table class="nutzungen">
	<tr align="left">
		<th>Wer</th>
		<th>Wann</th>
		<th>Dauer</th>
		<th>Tarif</th>
		<th>Kosten</th>
	</tr>
	<% for reservation in @reservations -%>
		<tr>
			<td><%= link_to reservation.user.name, :action => "benutzer", :id => reservation.user, :year => @listed_year.year %></td>
			<td><%= reservation.start.strftime("%d.%m.%Y %H:%M") %> - <%= reservation.finish.strftime("%d.%m.%Y %H:%M") %></td>
			<td align="right"><%= time_component_string_of(reservation.duration_rounded_to_hours) %></td>
			<td align="right"><%= reservation.type_of_reservation %><%= ", exklusiv" if reservation.is_exclusive? && (reservation.type_of_reservation==Reservation::FERIENAUFENTHALT || reservation.type_of_reservation==Reservation::KURZAUFENTHALT) %></td>
			<td align="right"><%= reservation.billed_fee.to_i %>.-</td>
		</tr>
	<% end -%>
</table>
<p style="text-align:right; font-size:xx-small;">
	<%= link_to "Excel", :year => @listed_year.year, :format => :xls %> -
	Alle Daten gem채ss DB-Stand vom <%= Date.today.strftime("%d.%m.%Y")%>
</p>
<hr />
<%= link_to "Vorheriges Jahr", :action => "detailliste", :year => @listed_year.year-1 %> - 
<%= link_to "Zusammenzug", :action => "jahresstatistik", :year => @listed_year.year %> - 
<%= link_to "N채chstes Jahr", :action => "detailliste", :year => @listed_year.year+1 %>
