<!DOCTYPE html PUBLIC "-//W3C/DTD HTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title><%= @page_title || "Brüschhüsli-Reservierungen"%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=0.75" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'legacy' %>
    <%= javascript_importmap_tags %>

</head>
<body id="brueschhuesli-app" data-controller="body-scroll" data-action="scroll@window->body-scroll#check">

	<header class="site-header" data-controller="navbar-toggle">
		<nav class="site-nav">
			<a class="site-nav__brand" href="/">Brüschhüsli</a>
			<button class="site-nav__toggle" type="button" aria-expanded="false" aria-label="Navigation umschalten" data-action="click->navbar-toggle#toggle">
				<span class="site-nav__toggle-icon"></span>
			</button>
			<ul class="site-nav__menu" data-navbar-toggle-target="menu">
				<li><%= link_to "Reservationen", {:controller => "reservations", :action => "index"}, :class => "site-nav__link" %></li>
				<li><%= link_to "Abrechnung", {:controller => "abrechnung", :action => "jahresstatistik"}, :class => "site-nav__link" %></li>
				<li><%= link_to "Reservations- und Entschädigungsregelgung", "/reservationsregelung.pdf", :class => "site-nav__link" %></li>
				<li><%= link_to "Hausordnung", "/hausordnung.pdf", :class => "site-nav__link" %></li>
				<li><%= link_to "Benutzer", {:controller=>"login", :action=>"list_users"}, :class => "site-nav__link" %></li>
				<li><%= link_to "Passwort ändern", {:controller => "login", :action => "change_password"}, :class => "site-nav__link" %></li>
				<li><%= link_to "Abmelden", {:controller => "login", :action => "logout"}, :class => "site-nav__link" %></li>
			</ul>
		</nav>
	</header>

	<main class="page">
		<% if flash[:notice] -%>
			<div id="notice">
				<%= flash[:notice] %>
			</div>
		<% end -%>
		<%= yield %>
	</main>



</body>