<!DOCTYPE html PUBLIC "-//W3C/DTD HTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title><%= @page_title || "Brüschhüsli-Reservierungen"%></title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=0.75" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body id="emmental-app">
	<div id="banner">
		<%= @page_title || "Brüschhüsli-Reservierungen" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<% if session[:user_id] -%>
					<li><%= link_to "Reservationen", :controller => "reservation", :action => "index" %></li>
					<li><%= link_to "Benutzer", :controller => "login", :action => "list_users" %></li>
					<li><%= link_to "Abrechnung", :controller => "abrechnung", :action => "jahresstatistik"%></li>
					<br />
					<li><%= link_to "Reservations- und Entschädigungsregelung", "/reservationsregelung.pdf" %></li>	
 					<li><%= link_to "Hausordnung",  "/hausordnung.pdf" %></li> 										
				<% end -%>
				<br />
				<% unless session[:user_id] -%>
				<% else  -%>
					<li><%= link_to "Passwort ändern", :controller => "login", :action => "change_password"%></li>
					<li><%= link_to "Logout", :controller => "login", :action => "logout" %></li>
				<% end -%>
			</ul>
		</div>
		<div id="main">
			<% if flash[:notice] -%>
				<div id="notice">
					<%= flash[:notice] %>
				</div>
			<% end -%>
			<%= yield :layout %>
		</div>
	</div>
</body>